.header {
  background-color: #155677;
  opacity: 0.95;
  padding: 16px;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.header-title {
  font-weight: bold;
}

.header-subtitle {
  margin-top: 8px;
  font-size: 1rem;
}

.grid {
  justify-content: flex-start;
}

.grid-item {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.card {
  width: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  border-radius: 18px !important;
  transition: box-shadow 0.3s, border-radius 0.3s;
}

.card:hover {
  width: 75.8%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f5f5f5;
  border-radius: 20px 20px 0 0 !important;
}

.card-text {
  margin-bottom: 16px;
}

.btn {
  background-color: #EB873F;
  color: #fff;
  text-shadow: -0.2px 0 #000000, 0 0.2px #000000, 0.2px 0 #000000, 0 -0.2px #000000;
}

.btn:hover {
  background-color: #CF6F2E;
}

.mainpage-container {
  position: relative;
  min-height: 100vh;
  padding: 16px;
  background: url('../../assets/background_mainpage (3).png') no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.wide-container {
  width: 100%;
  background-color: #155677;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  text-align: center;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.btn-toolset-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.btn-toolset {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #155677;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-toolset:hover {
  width: 200px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #0063CC;
  border-color: #0056B3;
}

.btn-toolset .btn-icon {
  font-size: 24px;
  color: #fff;
  transition: transform 0.4s ease;
}

.btn-toolset .btn-text {
  display: none;
  color: #FFFFFF;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 10px;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.8s ease 0.4s, transform 0.8s ease 0.4s; 
}

.btn-toolset:hover .btn-text {
  display: inline-block;
  opacity: 1;
  transform: translateX(0);
}

.btn-toolset:hover .btn-icon {
  transform: scale(1);
}

.dialog-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.divider {
  width: 80%;
  margin: -5px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-image: linear-gradient(to right, transparent, black, transparent) 1;
}

.modal-animate .MuiDialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease-in-out;
}

.modal-animate .MuiDialog-paper {
  transform-origin: bottom right;
  animation: modal-slide-up 0.6s ease-in-out forwards;
  height: 65vh;
  width: 50vw;
  border-radius: 30px;
}

@keyframes modal-slide-up {
  0% {
    transform: scale(0.3) translate(50%, 50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}

.modal-animate .MuiDialogContent-root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal-animate .MuiDialogContent-root ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
}

.modal-animate .MuiDialogContent-root img {
  margin-left: -125px;
}

.status-box {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-image: linear-gradient(to right, transparent, black, transparent) 1;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
}
