/* src/pages/patients/PatientList.css */

.table-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: 16px;
}

.styled-table {
  min-width: 650px;
}
