.patient-info-container {
  margin-top: 20px;
}

.back-button {
  margin-bottom: 20px;
}

.patient-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-icon {
  font-size: 50px;
  margin-right: 20px;
}

.patient-details {
  flex-grow: 1;
}

.edit-button,
.pdf-button {
  margin-left: 10px;
}

.info-block {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.info-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-block-content {
  display: flex;
  align-items: center;
  padding: 20px;
}

.info-block-icon {
  margin-right: 20px;
  padding: 10px;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-title {
  font-weight: bold;
  flex: 1;
}

.info-block-arrow {
  color: #1976d2;
}

.info-block button {
  align-self: flex-end;
}

.patient-details h4 {
  margin: 0;
}

.patient-details .MuiTypography-body1 {
  margin: 4px 0;
}
