.table-header {
  font-size: 1rem; /* Font size leggermente aumentato */
  font-weight: bold;
  padding: 6px 10px; /* Ridotto il padding */
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
}

.table-container {
  width: 100%;
  max-width: 1000px; /* Ridotto il max-width */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styled-table {
  width: 100%;
  margin: 5px 0; /* Ridotto il margine */
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #EB873F;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th, .styled-table td {
  padding: 6px 10px; /* Ridotto il padding */
  font-size: 0.875rem; /* Font size leggermente aumentato */
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #EB873F;
}

.add-patient-btn {
  --color: #4d39b1;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  font-size: 20px; /* Ridotto il font size */
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  transition: color 0.3s ease;
  text-align: center;
  border-color: black;
}

.add-patient-btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: 0.3s all;
  border-color: black;
}

.add-patient-btn:hover {
  color: white;
}

.add-patient-btn:hover::before {
  top: -30px;
  left: -30px;
}

.pagination {
  margin-top: auto;
}
