.patient-info-container {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.back-button {
  position: absolute !important;
  top: 16px !important;
  left: 16px !important;
  z-index: 10 !important; /* Ensure it stays on top */
}

.patient-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-icon {
  font-size: 50px;
  margin-right: 20px;
}

.patient-details {
  flex-grow: 1;
  margin-right: 100px;
}

.edit-button,
.pdf-button {
  margin-left: 10px;
}

.settings-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: transparent !important;
  border-radius: 20px !important;
  transition: background-color 0.5s ease-in-out !important;
}

.settings-icon {
  font-size: 50px !important;
  transition: transform 0.5s ease-in-out !important;
}

.settings-label {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin-left: 10px !important;
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out, margin-left 0.5s ease-in-out !important;
}

.settings-container:hover {
  background-color: white !important;
  padding: 10px 75px !important; /* Increase the padding to make the box wider */
}

.settings-container:hover .settings-icon {
  transform: translateX(-40px) !important;
}

.settings-container:hover .settings-label {
  opacity: 1 !important;
  margin-left: 25px !important;
}

.info-block {
  cursor: pointer;
  transition: none;
  border-radius: 20px;
  transition: box-shadow 0.3s, border-radius 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-block:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: black;
  border: solid 0px;
  width: 102%;
  height: 102%;
}

.info-block-content {
  display: flex;
  align-items: center;
  padding: 20px;
}

.info-block-icon {
  margin-right: 20px;
  padding: 10px;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-title {
  font-weight: bold;
  flex: 1;
}

.info-block-arrow {
  color: #1976d2;
}

.info-block button {
  align-self: flex-end ; 
}

.patient-details h4 {
  margin: 0;
}

.patient-details .MuiTypography-body1 {
  margin: 4px 0;
}
