.patient-info-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  
  .patient-details {
    flex-grow: 1;
  }
  
  .save-icon {
    margin-left: auto;
  }
  
  .MuiAccordion-root {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .MuiAccordionSummary-root {
    background-color: #4caf50;
    color: white;
  }
  
  .MuiAccordionSummary-content {
    align-items: center;
  }
  
  .MuiAccordionDetails-root {
    background-color: #ffffff;
  }
  
  .MuiListItem-root {
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
  }
  
  .MuiListItemText-primary {
    font-size: 1rem;
  }
  
  .MuiTypography-h6 {
    font-weight: bold;
  }
  